*{
	box-sizing: border-box;
}

header {
	height:20em;
	background-color:#4c98b4;
	color:white;
	/*margin-left:13%;*/
	padding:5% 13% 10%;
  font-family: arial, sans-serif;
}
header h1 {
  font-size: 3em;
}
header h3 {
  font-family: arial, sans-serif;
  font-style:italic;
}

h4{
  font-family: arial, sans-serif;
  font-size: 1.3em;
  color: #4c98b4;
}

nav {
	background-color: #f2f2f2;
	color: darkgray;
	padding:1em 13%;
}

.nav-link{
  color: black;
  font-family: arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
}

.nav-virgule {
  display: inline-block;
  font-family: arial, sans-serif;
  color: black;

}

a {
  color: #76b2c7;
}

section {
	width:51%;
	margin-right:1%;
	padding-left: 13%;
	float:left;
  font-family: arial, sans-serif;
}

	section:first-of-type p {
	}
	section:first-of-type p a {
	}
	section h5 {
    color: #76b2c7;
		font-size:1.5em;
    font-family: arial, sans-serif;
	}
	section:last-of-type p {
	}
	section:last-of-type p a {
	}
sidebar {
	width:20%;
	float:left;
	display:inline-block;
	margin-right:5%;
  font-family: arial, sans-serif;
  position: relative;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 1%;
}

footer {
  clear:both;
  background-color: #333030;
  color: white;
  font-family: arial, sans-serif;
  text-align: center;
  padding:5% 13% 10%;

}

.footer-link {
  color: white;
  padding:1em;
}

.footer-virgule{
  color: white;
  display: inline-block;
  font-family: arial, sans-serif;
}
