*{
	box-sizing: border-box;
}

header {
	height:10em;
	background-color:blue;
	color:white;
	/*margin-left:13%;*/
	padding:5% 13%;
}
header h1 {
}
header h3 {
	font-style:italic;
}
nav {
	background-color: lightgray;
	color: darkgray;
	padding:1em 13%;
}
section {
	width:51%;
	margin-right:1%;
	padding-left: 13%;
	float:left;
}
	section:first-of-type h4 {
	  color:blue;
	}
	section:first-of-type p {
	}
	section:first-of-type p a {
	}
	section h5 {
		color:blue;
		font-size:1em;
	}
	section:last-of-type h4 {
		color:blue;
	}
	section:last-of-type p {
	}
	section:last-of-type p a {
	}
sidebar {
	width:20%;
	float:left;
	display:inline-block;
	margin-right:5%;
}

footer {
	clear:both;
}
